.banner {
  background-color: #4ec391;
  border-radius: 0 0 60% 60%;
  height: 440px;
  position: relative;
  left: 50%;
  width: 150%;
  transform: translateX(-50%);
  
  &__inner{
    @include container();
    padding-top: 66px;
  }
  
  &__title{
    color: #ffffff;
    font: 400 48px / 36px 'Dosis';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
  }
  
  &__icons-container{
    margin-top: 70px;
    position: relative;
  }
  
  &__icon{
    position: absolute;
  }
  
  &__icon--world{
    width: 45px;
    height: 45px;
    background: url(globe-wire.png);
    left: 221px;
    top: 0;
  }
  
  &__icon--connect-point{
    width: 51px;
    height: 51px;
    background: url(connect-point.png); 
    top: 40px;
    left: 95px;
  }
  
  &__icon--lamp{
    width: 57px;
    height: 57px;
    background: url(lamp.png); 
    top: 82px;
    left: 173px;
  }
  
  &__icon--text{
    width: 45px;
    height: 45px;
    background: url(text-horizontal.png); 
    top: 0;
    right: 177px;
  }
  
  &__icon--layers{
    width: 51px;
    height: 51px;
    background: url(layers.png); 
    top: 57px;
    right: 96px;
  }
  
  &__icon--cloud{
    width: 52px;
    height: 52px;
    background: url(cloud.png); 
    top: 140px;
    right: 130px;
  }
}