.page-header{
  background-color: rgba(78, 195, 145, 1);
  
  &__inner{
    @include container();
    height: 100px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
}