.btn {
   width: 144px;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #000;
  color: #414141;
  font: 700 16px / 44px 'Dosis';
  display: block;
  text-transform: uppercase;
  text-align: center;
}
