.page-footer {
  
  &__inner{
    @include container();  
    padding-top: 35px;
    border-top: 2px solid #ebebeb;
  }  &__text{
    color: #282828;
    font: 300 14px / 24px 'Dosis';
    width: 527px;
    float: left;
  }
  
  &__contacts{
    margin-top: -33px;
    float: right;
  }
  
  &__contacts-title{
    color: #282828;
    font: 700 18px / 24px 'Dosis';
    text-transform: uppercase;
  }
  
  &__phone{
    display: block;
    color: #282828;
    font: 300 24px / 40px 'Dosis';
    text-transform: uppercase;
    text-decoration: none;
  }
  
  &__email{
    display: block;
    color: #282828;
    font: 300 24px / 40px 'Dosis';   
    text-decoration: none;
  }
}
