.menu{
  @extend .header--cross;
  
  &__list{   
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__item{
    border: 1px solid #000;
    color: #000;
    background: #000;
  }
}