/* stylelint-disable */
%svg-common {
	background: url("sprite.svg") no-repeat;
}

.banner--arrow-down {
	@extend %svg-common;
	background-position: 0 0;
	width: 10px;
	height: 5px;
}

.banner--cross {
	@extend %svg-common;
	background-position: 0 7.598784194528876%;
	width: 9.2px;
	height: 9.2px;
}

.banner--envelope {
	@extend %svg-common;
	background-position: 0 100%;
	width: 93.5px;
	height: 60px;
}

/* stylelint-enable */